body {
  font-size: 1rem;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #C0C0C0;
  padding:5rem 0;
}

ul {
  list-style-type: none;
  margin:0;
  overflow: hidden;
  text-align:center;
  font-size: 1.1rem






}

li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align:center;
  padding: 35px 65px;
  font-family: 'Roboto Mono', sans-serif;

}

li a:hover:not(.navigation) {
  background-color:#c8a2c8;
}


.intro-block {
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top:70px;
  padding-left:490px;

 }

.about-heading {
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top:70px;
  padding-left:600px;

  }

.about {
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top: 90px;
  padding-right: 270px;
  padding-left:270px;
  }



h1 {
  font-size:3.375rem;
  font-weight:600;
  padding-top:20px;
  padding-right:50%px;

   }

h2 {
  font-size:1rem;
  font-weight:300;
  padding-top: 300px;
  padding: 130px 10px;
  float:left;
  

}


#car {
  padding-left:120px;
  padding-top: 50px
}

#droplets {
  padding-left:120px;
  padding-top: 50px
}

img {
  opacity: 0.4;
}

img:hover {
  opacity: 1.0;
}