body {
  font-size: 1rem;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #C0C0C0;
  padding:5rem 0;
}

ul {
  list-style-type: none;
  margin:0;
  overflow: hidden;
  text-align:center;
  font-size: 1.1rem




}

li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align:center;
  padding: 35px 65px;
  font-family: 'Roboto Mono', sans-serif;

}

li a:hover:not(.navigation) {
  background-color:#c4c3d0;
}


.intro-block {
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top:70px;
  padding-left:490px;

  }

h1 {
  font-size:3.375rem;
  font-weight:600;
  padding-top:20px;
  padding-right:320px;

}


#car {
  padding-left:120px;
  padding-top: 50px
}

img {
  opacity: 0.4;
}

img:hover {
  opacity: 1.0;
}